* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  padding: 5px;
}

body {
  background-color: rgb(49, 49, 49);
  font-family: "Montserrat", sans-serif;
}

header div {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 25px;
}

.arrow_icon {
  margin-top: 0;
  padding: 0;
  position: absolute;
  left: 20px;
  top: 61px;
}

h1 {
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-top: 0;
  font-weight: 400;
  margin-bottom: 0;
  align-items: center;
}

.update {
  color: rgb(121, 121, 121);
  font-size: 13px;
  margin-left: 14px;
  margin-bottom: 8px;
}

img {
  margin-top: 13px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 13px;
  max-width: 135px;
}

.card {
  background-color: rgb(34, 34, 34);
  display: grid;
  grid-template-columns: 40% 60%;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.card:hover {
  background-color: rgb(0, 0, 0);
}

.blockright {
  margin-left: 15px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}

.blockleft {
}
h2 {
  color: white;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 8px;
}

.codigo {
  display: inline-block;
  color: black;
  background-color: rgb(91, 91, 91);
  font-weight: 900;
  font-size: 14px;
  padding: 4px;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 5px;
  margin-top: 13px;
  width: max-content;
  z-index: 30;

}

.codigo:hover {
  background-color: rgb(41, 41, 41);
  color: floralwhite;
}

.tags_button {
  display: inline-block;
  color: black;
  background-color: rgb(91, 91, 91);
  font-weight: 900;
  font-size: 14px;
  padding: 4px;
  padding-left: 9px;
  padding-right: 9px;

  border-radius: 5px;
  margin-top: 13px;
  margin-bottom: 10px;
}
.tags_button:hover {
  background-color: rgb(41, 41, 41);
  color: floralwhite;
}

.sala {
  color: rgb(218, 218, 218);
  font-size: 11px;
  margin-bottom: 8px;
}

.icondata {
}

.data {
  font-size: 14px;
  color: rgb(205, 205, 205);
  margin-left: 9px;
}

.datadiv {
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}

/*  */

.icontime {
  display: flex;
  align-items: center;
}
.time {
  color: rgb(205, 205, 205);
  margin-left: 9px;
}

.tags {
  margin-top: auto;
}
