* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  padding: 5px;
}

body {
  background-color: rgb(49, 49, 49);
  font-family: "Montserrat", sans-serif;
}

.titulo{
  display: inline-block;
  margin: 40px;
  color: white;
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 15px;
}

.ticket{
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: animacao-entrada 0.5s ease-in-out;
  margin: 0;

}

.elemento-animado {
  animation: animacao-entrada 0.5s ease-in-out;
}

.top-ticket{
  transition: all 1s ease;

}

.valido{
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 1.5s ease;
  top: 325px;
  left: 193px;
}


@keyframes animacao-entrada {
  from {
    opacity: 0;
    transform: translateX(-100px);
    
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


