* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  padding: 0;
  margin-top: 4px;
}

body {
  background-color: rgb(49, 49, 49);
  font-family: "Montserrat", sans-serif;
  position: relative;
}

body {
  zoom: 1.06; /* Aumenta a escala em 20% (1.0 = 100%) */
  -moz-transform: scale(1.2); /* Para o Firefox */
  -webkit-transform: scale(1.2); /* Para o Chrome, Safari, Opera */
  -o-transform: scale(1.2); /* Para o Opera (antigo) */
}

div {
  margin: 0;
}
.pedido{
  position: absolute;
  left: 167px;
  color: white;
  top: 25px;
  position: relative;
}
.x{
  height: 17px;
  left: 173px;
  top: 0;
  position: absolute;
  opacity: 0.7;
}

.titulo {
  display: inline-block;
  margin: 40px;
  color: white;
  font-size: 10px;
  font-weight: 300;
  margin-bottom: 15px;
}

.ticket {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: animacao-entrada 0.5s ease-in-out;
  margin: 0;
  position: relative;
}

.elemento-animado {
  animation: animacao-entrada 0.5s ease-in-out;
}

.top-ticket {
  transition: all 1s ease;
  position: relative;
}
.div-terceiro {
  position: relative;
  height: 60px;
}

.valido {
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 1.5s ease;
  top: 89px;
  left: 205px;
  width: 300px;
}
.tags {
}

.div-primeiro {
  position: relative;
  height: 53px;
}
.div-segundo {
  position: relative;
  height: 106px;
}
.div-quarto {
  height: 60px;
  position: relative;
}
.hologram {
  width: 26px;
  position: absolute;
  top: 10px;
  left: 267px;
}

.tags_button {
  display: inline-block;
  color: black;
  background-color: rgb(255, 145, 0);
  font-weight: 900;
  font-size: 9px;
  padding: 3px;
  padding-left: 9px;
  padding-right: 9px;
  border-radius: 3px;
  margin-top: 13px;
  margin-bottom: 10px;
  z-index: 30;
  top: 65px;
  left: 159px;
  position: absolute;
}
.xd {
  left: 234px;
}
.meia {
  top: 19px;
  left: 213px;
}
.no-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}
hr {
  width: 270px;
  height: 0.6px;
  position: absolute;
  left: 20px;
  text-decoration: 0;
  border-style: solid;
  border: 0;
  background-color: rgba(255, 255, 255, 0.781);
}

.corte {
  position: absolute;
  bottom: -60px;
  z-index: 1;
}
.ticket_top {
  z-index: 999;
}
.ticket_bottom {
  z-index: 999;
}

.bolinhas {
  position: absolute;
  top: 50px;
  left: -140px;
  z-index: 1;
  animation-name: pulo;
  animation-duration: 1.5s;
  animation-timing-function: steps(1);
  animation-iteration-count: infinite;
  opacity: 1;
  transition: 1s;
}
.div-segundo::before {
  content: "";
  position: absolute;
  width: 130px;
  height: 1531px;
  top: -69px;
  left: -128.6px;
  background-color: rgb(49, 49, 49);
  z-index: 999;
}
.div-primeiro::before {
  content: "";
  position: absolute;
  width: 140px;
  height: 1500px;
  top: -15px;
  left: 306px;
  background-color: rgb(49, 49, 49);
  z-index: 999;
}
.swap-icon {
  width: 30px;
  top: 272px;
  position: absolute;
  z-index: 999;
}
.circle {
  position: relative;
  width: 58px;
  height: 58px;
  /* bottom: -137px; */
  /* left: 0px; */
  opacity: 0.4;
  z-index: 3;
  transition: 0.5;
}

.circle::before {
  content: "";
  position: absolute;
  top: -30px;
  left: -2px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  z-index: 999;
}
.loader {
  width: 35px; /* control the size */
  aspect-ratio: 1;
  display: grid;
  -webkit-mask: conic-gradient(from 22deg, #0003, #000);
  mask: conic-gradient(from 22deg, #0003, #000);
  animation: load 1s steps(8) infinite;
  border-radius: 8px;
  position: absolute;
  top: 268px;
  display: none;
  left: 182px;
  z-index: 2;
  opacity: 1;
}
.loader,
.loader:before {
  --_g: linear-gradient(#ffffff 0 0) 50%; /* update the color here */
  background: var(--_g) / 34% 8% space no-repeat,
    var(--_g) / 8% 34% no-repeat space;
}



.alerta {
  position: absolute;
  bottom: -444px;
  z-index: 999;
}

.loader:before {
  content: "";
  transform: rotate(45deg);
}

.pergunta {
  color: rgb(0, 0, 0, 0.4);
  font-size: 10px;
  text-align: center;
  padding: 15px 20px 10px 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px 10px 0px 0px;
  z-index: 999;
  width: 324px;
  left: 45px;
}
.opcao1 {
  color: rgb(0, 132, 255);
  font-size: 15px;
  text-align: center;
  padding: 14px 8px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0px 0px 10px 10px;
}
.opcao1:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.opcao2 {
  color: rgb(0, 132, 255);
  font-size: 15px;
  text-align: center;
  padding: 14px 8px;
  background: white;
  bottom: -51px;
  position: absolute;
  border-radius: 10px;
  width: 324px;
  font-weight: 600;
}

.atencao {
  position: absolute;
  background-color: rgb(156 85 3 / 22%);
  top: 483px;
  padding: 10px 20px;
  width: 310px;
  border-radius: 10px 10px 10px 10px;
  height: 85px;
  display: none;
}
.atencao::before {
  content: "";
  height: 85px;
  width: 7px;
  background-color: orange;
  position: absolute;
  top: 0px;
  left: 1.5px;
  border-radius: 5px 0px 0px 5px;
}
.exclamacao {
  position: absolute;
  top: 9px;
  left: 15px;
}

.atencao_p {
  color: orange;
  font-size: 13px;
  padding: 0px 0px 20px 18px;
}

.atencao_text {
  color: rgb(255 255 255 / 76%);
  font-size: 11px;
}
.verificado {
  display: flex;
  position: absolute;
  top: 304px;
  left: 47px;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.verificado p {
  font-size: 9px;
  color: rgb(86, 191, 86);
  margin-left: 5px;
}

.tracim {
  margin: 3.8px;
  padding: 0;
  width: 20px;
  height: 1px;
  background-color: rgb(86, 191, 86);
}

.politicas2{
  font-size: 11px;
  top: 581px;
  color: #0aa3ff;
  left: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.paper_icon{
  height: 16px;
  margin-right: 11px;
}
.question_icon{
  height: 25px;
  margin-right: 5px;
}
.trash_icon{
  height: 19px;
  margin-right: 13px;
}

.ajuda{
  font-size: 11px;
  top: 605px;
  color: #0aa3ff;
  left: 44px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.cancelar_texto{
  font-size: 8px;
  top: 433px;
  color: white;
  left: 51px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cancelar{
  font-size: 11px;
  top: 464px;
  color: #0aa3ff;
  left: 51px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ispinner{
}

@keyframes load {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

@keyframes pulo {
  0% {
    transform: translateX(0);
  }
  4% {
    transform: translateX(15px);
  }
  8% {
    transform: translateX(34.4px);
  }
  12% {
    transform: translateX(54px);
  }
  16% {
    transform: translateX(73.4px);
  }
  20% {
    transform: translateX(93px);
  }
  24% {
    transform: translateX(112px);
  }
  28% {
    transform: translateX(131.5px);
  }
  32% {
    transform: translateX(151px);
  }
  36% {
    transform: translateX(170.5px);
  }
  40% {
    transform: translateX(190px);
  }
  44% {
    transform: translateX(209px);
  }
  48% {
    transform: translateX(228.5px);
  }
  52% {
    transform: translateX(248px);
  }
  56% {
    transform: translateX(267.5px);
  }
  60% {
    transform: translateX(287px);
  }
  64% {
    transform: translateX(306.5px);
  }
  68% {
    transform: translateX(325.5px);
  }
  72% {
    transform: translateX(345px);
  }
  76% {
    transform: translateX(364px);
  }
  80% {
    transform: translateX(384px);
  }
  84% {
    transform: translateX(403px);
  }
  88% {
    transform: translateX(423px);
  }
  92% {
    transform: translateX(441.6px);
  }
  96% {
    transform: translateX(560px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes animacao-entrada {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
